:root {
  /* стилі тексту */
  --font-family: 'Roboto', sans-serif;
  --secondary-family: 'Raleway', sans-serif;
  /* кольори тексту */
  --accent-text-cl: #2196f3;
  --main-text-cl: #212121;
  --secondary-text-cl: #fff;
  --under-text-cl: #757575;
  /* кольор фону background-color */
  --accent-bg: #2f303a;
  --main-bg: #fff;
  --second-bg: #f5f4fa;
}
li {
  list-style-type: none;
}
body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}
a {
  text-decoration: none;
  color: currentColor;
}

/*кнопки*/
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}
.mode-blue {
  color: var(--secondary-text-cl);
  background-color: #2196f3;
}
.mode-blue:hover,
.mode-blue:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #198ceb;
}
.mode-gray {
  color: var(--main-text-cl);
  background-color: var(--second-bg);
}
.mode-gray:hover,
.mode-gray:focus {
  color: var(--secondary-text-cl);
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
/*Шапка сайту*/

/*Логотип*/
.logo-web {
  font-family: var(--secondary-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-text-cl);
}
/*Логотип*/
.header-logo-studio {
  font-family: var(--secondary-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
}
.footer-logo-studio {
  font-family: var(--secondary-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #fff;
}
.navigation-link,
.header-mail,
.header-phone {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}
.header-phone {
  color: var(--under-text-cl);
}
.header-mail {
  color: var(--under-text-cl);
}
.navigation-link-accent {
  color: var(--accent-text-cl);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-text-cl);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-text-cl);
}
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-text-cl);
}
/*Hero*/
.hero {
  background-color: var(--accent-bg);
}
.hero-title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-cl);
}
/*particularity*/
.section-title-particularity {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-cl);
}
.sub-title-info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--under-text-cl);
}

/*Work*/
.section-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-cl);
}
/*Team*/
.team {
  background-color: var(--second-bg);
}
.member-item {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--main-bg);
  border-radius: 0 0 4px 4px;
  width: 270px;
  height: 368px;
}
.member-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.member-position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
/*Footer*/
footer {
  background-color: var(--accent-bg);
}
.address-city,
.address-list {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-text-cl);
}
.address-list {
  color: rgba(255, 255, 255, 0.6);
}
/*Portfolio*/
.project-item {
  background-color: var(--main-bg);
}
.project-tytle,
.project-product {
  font-family: var(--font-family);
}
.project-tytle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-cl);
}
.project-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--under-text-cl);
}
